<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	{% load staticfiles %}
    <link href="{% static 'btshare/css/bootstrap.min.css' %}" rel="stylesheet">		    	
    <title>{% block title %}popu {% endblock %}</title>
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<style>
		.label-success	{
			margin-left:10px;
			padding-left:6px;
		}
        .footer{
          padding:40px 0;
          color: #999;
          text-align: center;
          border-top: 1px solid #e5e5e5;
          clear:both;
        }
        
		{% block style %}
		{% endblock %}
	</style>
  </head>
  <body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header"> 
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-controls="navbar">
					<span class="sr-only">Popubt.com</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Popubt.com</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li ><a href="#">首页</a></li>
					<li class="active"> 
                        <a href="#">电影
                            {% if movie_inc %}
                            <span class="label label-success">+{{movie_inc}}</span>
                            {% endif %}
                        </a>
                    </li>
					<li> 
                        <a href="#">美剧
                            {% if tv_inc %}
                            <span class="label label-success">+{{tv_inc}}</span>
                            {% endif %}
                        </a>
                    </li>
					<li> 
                        <a href="#">游戏
                            {% if game_inc %}
                            <span class="label label-success">+{{game_inc}}</span>
                            {% endif %}
                        </a>
                    </li>
					<li> 
                        <a href="#">消息
                            {% if msg_inc %}
                            <span class="label label-success">+{{msg_inc}}</span>
                            {% endif %}
                        </a>
                    </li>
				</ul>
			</div>
		</div>
	</nav>
	
	{%block content %} {% endblock %}
    
    <div class="container-fluid">
        <footer class="footer">
          <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
          <p>
            <a href="#">Back to top</a>
          </p>
        </footer>
    </div>
    
  	<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
  	<script src="{% static 'btshare/js/bootstrap.min.js' %}"></script>
  </body>
</html>
