{% extends "btshare/base.html" %}

{% block style %}
    nav{float:right;}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h3>推荐</h3>
            <div class="recommanded">
            </div>
        </div>
        
        <div class="updatelist">
            <table class="table table-hover">
                <tr>
                    <td>类别</td>
                    <td>种子</td>
                    <td>更新时间</td>
                    <td>文件大小</td>
                    <td>Seeds</td>
                    <td>Leechers</td>
                </tr>
                {% for btitem in btlist %}
                <tr>
                    <td>{{ btitem.category }}</td>
                    <td><a href="/torrent/{{btitem.torrentid}}">{{ btitem.name }}</a></td>
                    <td>{{ btitem.addedtime | date:"Y-m-d H:i:s"}}</td>
                    <td>{{ btitem.filesize }}</td>
                    <td>{{ btitem.seeds }}</td>
                </tr>
                {% endfor %}
            </table>
            <div class="pages">
                <nav>
                    <ul class="pagination">
                        <li>
                          <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                        </li>
                        {% for i in pages %}
                        <li><a href="#">{{i}}</a></li>
                        {% endfor %}
                        <li>
                          <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        
    </div>
    
{% endblock %}
