{% extends "btshare/base.html" %}

{% block style %}
		.sperade	{
			height:10px;
			margin-top:30px;
		}
		.col-lg-1	{
			width:152px;
		}
		thead	{
			background-color:#d89b04;
			color:#fff;
		}	
		.pagination	{
			margin:0 auto;
			float:right;
		}
		.noborder	{
			border:0;
		}
        tbody {
        background-color:#d4dcea;}
        body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}
{% endblock %}

{% block content %}
	<div class="container">
		<div class="page-header">
			<hr>
			<h3>推荐</h3>
		</div>
		
		<table class="table noborder">
			<tbody>
				{% for item in hotitems%}
				<td><img class="img-thumbnail" alt="{{ item.width}}x {{item.height}}" src="{{item.src}}" style="width:103px;height:152px;"> </td> 
				{% endfor %}
			</tbody>
		</table>
		
		<div class="sperade"></div>
		
		<table class="table table-hover">
			<thead align="center">
				<tr>
					<td>类别</td>
					<td>种子</td>
					<td>更新时间</td>
					<td>文件大小</td>
					<td>Seeds</td>
					<td>Leechers</td>
				</tr>
			</thead>
			<tbody>
				{% for item in list %}
				<tr>
					<td>{{item.type}}</td>
					<td><a href="http://127.0.0.1:8000/torrent/{{item.torrentid}}">{{item.name}}</a></td>
					<td>{{item.addedtime | date:"Y-m-d H:i:s" }}</td>
					<td>{{item.filesize}}</td>
					<td>{{item.seeds}}</td>
					<td>{{item.leeders}}</td>
				</tr>
                {% endfor %}
                <tr>
					<td width="5%">{{item.type}}</td>
					<td width="52%"><a href="/torrent/1">item.name</a></td>
					<td width="16%">2015-10-10 15:56:23</td>
					<td width="8%">item.filesize}}</td>
					<td width="8%">item.seeds}}</td>
					<td width="8%">item.leeders}}</td>
				</tr>
					
			</tbody>
		</table>
		
		<nav>
			<ul class="pagination pagination-lg">
				<li>
					<a href="#" aria-label="Previous">
						<span aria-hidden="true">&laquo</span>
					</a>
				</li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">6</a></li>
				<li><a href="#">7</a></li>
				<li>
					<a href="#" aria-label="Next">
						<span aria-hidden="true">&raquo</span>
					</a>
				</li>
				<li><a href="#">358008</a></li>
			</ul>
		</nav>
	</div>
	
{% endblock %}