{% extends "btshare/base.html" %}

{% block content %}
    <div class="starter-template">
        <br><br><br><br><br>
        <p>this is the torrent detail page .  torrentid is : {{ torrentid }}</p>
        
        <!--
        {% load staticfiles %}
        <img src="{%static 'btshare/images/'%}{{posterurl}}.jpg" >      <br>
        <img src="{%static 'btshare/images/'%}{{screenurl1}}.jpg">      <br>
        <img src="{%static 'btshare/images/'%}{{screenurl2}}.jpg">      <br>
        -->
    </div>
{% endblock %}