{% extends "btshare/base.html" %}

{% block style %}
    body {
            padding-top:70px;
        }
    .lefttd{
        width:80px;
        background-color:#999;
    }
{% endblock %}

{% block content %}
    <div class="container">
        <p>this is the torrent detail page .  torrentid is : {{ torrentid }}</p>
        
        <div class="movietable">
            <table class="">
                <tr>
                    <td class="lefttd">种子</td>
                    <td>
                        <a href="{{btitem.torrenturl}}">{{ btitem.name }}</a>
                    </td>
                </tr>
                <tr>
                    <td>电影:</td>
                    <td>{{ movie.title}}</td>
                </tr>
                <tr>
                    <td class="lefttd">海报:</td>
                    <td>
                        <img src="{{ movie.posterurl}}" border="0" alt="{{ movie.name}}">
                    </td>
                </tr>
                <tr>
                    <td class="lefttd">截屏:</td>
                    
                    <td>
                    {% for url in screenurl %}
                        <img src="{{url.picurl}}" border="0">
                    {% endfor %}
                    </td>
                </tr>
                
                <tr>
                    <td class="lefttd">年代:</td>
                    <td>{{movie.year}}</td>
                </tr>
                <tr>
                    <td class="lefttd">时长:</td>
                    <td>{{ movie.runtime}}</td>
                </tr>
            </table>
        </div>
        
    </div>
    
    
{% endblock %}
