{% extends "btshare/base.html" %}

{% block style %}
    body {
            padding-top:70px;
        }
    .lefttd{
        width:80px;
        background-color:#999;
    }
{% endblock %}

{% block content %}
    <div class="container">
        <p>this is the torrent detail page .  torrentid is : {{ torrentid }}</p>
        
        <div class="movietable">
            <table class="">
                <tr>
                    <td class="lefttd"><a href="#">下载</a></td>
                    <td>
                        
                    </td>
                </tr>
            </table>
        </div>
        
    </div>
    
    
{% endblock %}
